for @MPica

In [1]:
import os
from datetime import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from SPARQLWrapper import SPARQLWrapper, JSON
import rdflib
import csv
import re

In [85]:
def query_to_table(spql_queried):
    
    preparing = {}

    try:
        spql_return = spql_queried.queryAndConvert()

        for ret in spql_return["results"]["bindings"]:
            for var in ret.keys():
                if var in preparing.keys():
                    preparing[var].append(ret[var]['value'])
                else:
                    preparing[var] = [ret[var]['value']]
        return pd.DataFrame(preparing)

    except Exception as e:
        print("The query has a problem. Here is the error:\n\t", e)

### Import de Slave Voyages

In [3]:
# Import des données.

slave_voyages_orig = pd.read_csv(
    "../../data/slave-voyages_trans-atlantic-db.csv",
    skip_blank_lines=False,
    infer_datetime_format = True,
    na_filter=False
)

# Contrôle des variables disponibles.

#for header in list(slave_voyages_orig):
#    print(header)

# Restriction des colonnes.

slave_voyages = slave_voyages_orig[["Flag of vessel", 'Date vessel departed with captives', 'Vessel name', "Captain's name"]]


# Contrôle des 10 premières lignes.

slave_voyages.head(5)

,Flag of vessel,Date vessel departed with captives,Vessel name,Captain's name
0,Netherlands,1732-09-03T00:00:00Z,Waartwijk,"Velde, Daniel ter"
1,Netherlands,1706-09-09T00:00:00Z,Wakende Kraan,"Hoeven, Jan van der<br/> Wenman, Roelof"
2,Netherlands,,Wapen van Amsterdam,
3,Netherlands,,Wapen van Amsterdam,"Scheij, Pieter"
4,Netherlands,1700-12-15T00:00:00Z,Wapen van Holland (a) Hollandia,"Stoop, Pieter<br/> Crans, Pieter"